{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <link rel="stylesheet" href="../static/style3.css">

    <form method="post" action="{{ url_for('add_to_favorites', cocktail_id=cocktail['id']) }}">
      {{ form.csrf_token }}
      <button>
        <svg class="empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0H24V24H0z"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z"></path></svg>
        <svg class="filled" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V24H0z" fill="none"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path></svg>
       Add to Favorites
      </button>
      
    </form>


    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <img src="{{ cocktail['image'] }}" class="card-img-top" alt="{{ cocktail['name'] }} width="400px" height="400px">
          <div class="card-body">
            <h5 class="card-title">{{ cocktail['name'] }}</h5>
            <p class="card-text">{{ cocktail['instructions'] }}</p>
          </div>
        </div>
      </div>
      
   

   <div class="col-md-6 mb-4">
    <div class="cart">
    <h3 class="baslik">Ingredients</h3>
    <ul class="malzemeler">
      {% for ingredient, measure in cocktail['ingredients'] %}
        <li>
          <i class="fas fa-glass-martini-alt"></i>
          {{ measure }} <i class="fas fa-caret-right"></i>
           {{ ingredient }}
          </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  </div>

 








  <h2>Comments:</h2>
  {% for comment in comments %}
    <p>{{ comment.text }}</p>
    <form method="POST" action="{{ url_for('delete_comment', cocktail_id=cocktail.id, id=comment.id) }}">
      {{ form.csrf_token }}
      <button type="submit" class="btn btn-danger">Delete Comment</button>
    </form>
    <hr>
  {% else %}
    <p>No comments yet.</p>
  {% endfor %}
  

  

  
  <h2>Add a Comment:</h2>
  <form method="POST" action="{{ url_for('cocktail', id=cocktail['id']) }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.comment.label }}
      {{ form.comment(class_='form-control', rows=4) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>


{% endblock %}
